<a href="https://colab.research.google.com/github/alexanderagudelo/AnalisisExploratorioDeDatos/blob/main/Actividad_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Cargar el dataset del Drive
datos = pd.read_stata("/content/drive/MyDrive/ICESI/datasets/GEIH_Pet_IV2021.dta")
datos.head()

/usr/local/lib/python3.9/dist-packages/pandas/io/stata.py:1457: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,P6360,P6360S1,P388,P6440,...,P31471,P31472,P50901,P50902,P50903,P1661,P16611,P16612,trim,fax_corr
0,5570718.0,1.0,1.0,1.0,90,05,NaN,,5,2.0,...,,,,,,,,,4.0,393.528163
1,5570718.0,1.0,2.0,1.0,90,05,NaN,,,NaN,...,,,,,,,,,4.0,393.528163
2,5570719.0,1.0,1.0,1.0,90,05,NaN,,5,2.0,...,,,,,,,,,4.0,482.462052
3,5570719.0,1.0,2.0,1.0,90,05,NaN,,5,2.0,...,,,,,,,,,4.0,482.462052
4,5570719.0,1.0,4.0,1.0,90,05,NaN,,5,2.0,...,,,,,,,,,4.0,482.462052

In [9]:
# Número de filas y columnas
datos.shape

(68864, 490)

In [4]:
# Algunas variables de interes encontradas en el pdf adjunto
Ingreso = "P6500"
Escolaridad = "ESC"
Edad = "P6040"
HorasTrabSemanal = "P6800"
Genero = "P6020"

In [7]:
# DataFrame de interes
df = datos[[Ingreso, Escolaridad, Edad, HorasTrabSemanal, Genero]]
df.columns = ["Ingreso", "Escolaridad", "Edad", "HorasTrabSemanal", "Genero"]
df.head()

   Ingreso  Escolaridad  Edad  HorasTrabSemanal  Genero
0      NaN         16.0  60.0              48.0     1.0
1      NaN         16.0  58.0               NaN     2.0
2      NaN         16.0  29.0              48.0     2.0
3      NaN         16.0  38.0              50.0     1.0
4      NaN         11.0  74.0              48.0     2.0

In [10]:
# Verificar la existencia de NA y el tipo de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68864 entries, 0 to 68863
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ingreso           18480 non-null  float64
 1   Escolaridad       68856 non-null  float64
 2   Edad              68864 non-null  float64
 3   HorasTrabSemanal  36129 non-null  float64
 4   Genero            68864 non-null  float64
dtypes: float64(5)
memory usage: 3.2 MB

In [11]:
# Cambio de tipo de la variable genero de numércia a categoóica
df.Genero = df.Genero.astype("object")

/usr/local/lib/python3.9/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [12]:
# Verificar que se cambio el tipo de la variable Genero
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68864 entries, 0 to 68863
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ingreso           18480 non-null  float64
 1   Escolaridad       68856 non-null  float64
 2   Edad              68864 non-null  float64
 3   HorasTrabSemanal  36129 non-null  float64
 4   Genero            68864 non-null  object
dtypes: float64(4), object(1)
memory usage: 3.2+ MB

In [15]:
# Tabla de frecuecia de la variable categorica
df.Genero.value_counts()

2.0    37396
1.0    31468
Name: Genero, dtype: int64

In [13]:
# Estadísticas descriptivas de las variables cuantitativas
df.describe()

            Ingreso   Escolaridad          Edad  HorasTrabSemanal
count  1.848000e+04  68856.000000  68864.000000      36129.000000
mean   1.386319e+06     10.012766     41.387242         45.522987
std    1.403715e+06      4.322995     19.376548         13.977700
min    0.000000e+00      0.000000     12.000000          1.000000
25%    9.085240e+05      7.000000     25.000000         40.000000
50%    9.100000e+05     11.000000     39.000000         48.000000
75%    1.400000e+06     13.000000     56.000000         48.000000
max    3.500000e+07     26.000000    105.000000        126.000000

In [16]:
# Cambio de unidades de medida del ingreso de pesos a millones de pesos
df.Ingreso = df.Ingreso / 1e6

/usr/local/lib/python3.9/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [17]:
# Verificar que el cambio fue realizado
df.describe()

            Ingreso   Escolaridad          Edad  HorasTrabSemanal
count  18480.000000  68856.000000  68864.000000      36129.000000
mean       1.386319     10.012766     41.387242         45.522987
std        1.403715      4.322995     19.376548         13.977700
min        0.000000      0.000000     12.000000          1.000000
25%        0.908524      7.000000     25.000000         40.000000
50%        0.910000     11.000000     39.000000         48.000000
75%        1.400000     13.000000     56.000000         48.000000
max       35.000000     26.000000    105.000000        126.000000